
.h1{
    color: burlywood;
    text-align: center;
    margin-bottom: 15px ;

}
.h2{
    color: blueviolet;
    text-align: center;
    margin-bottom: 15px ;
    
}
.h3{
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 15px ;
    
}